### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [121]:
# Dependencies and Setup
import pandas as pd
import os
import csv
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

df = pd.read_csv("purchase_data.csv", encoding="ISO-8859-1")

## Player Count

In [122]:
# Display the total number of players
df['Purchase ID'].count()

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [123]:
df.describe(include='all')

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
count,780.000000,780,780.000000,780,780.000000,780,780.000000
unique,NaN,576,NaN,3,NaN,179,NaN
top,NaN,Lisosia93,NaN,Male,NaN,Final Critic,NaN
freq,NaN,5,NaN,652,NaN,13,NaN
mean,389.500000,NaN,22.714103,NaN,91.755128,NaN,3.050987
std,225.310896,NaN,6.659444,NaN,52.697702,NaN,1.169549
min,0.000000,NaN,7.000000,NaN,0.000000,NaN,1.000000
25%,194.750000,NaN,20.000000,NaN,47.750000,NaN,1.980000
50%,389.500000,NaN,22.000000,NaN,92.000000,NaN,3.150000
75%,584.250000,NaN,25.000000,NaN,138.000000,NaN,4.080000
max,779.000000,NaN,45.000000,NaN,183.000000,NaN,4.990000

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [131]:
counts = df['Gender'].value_counts()
percent = df['Gender'].value_counts(normalize=True)
df.groupby('Gender').count()
pd.DataFrame({'Count': counts, 'Percentage': percent})

                       Count  Percentage
Male                     652    0.835897
Female                   113    0.144872
Other / Non-Disclosed     15    0.019231


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [125]:
df.groupby('Gender').describe()

                      Purchase ID                                        \
                            count        mean         std   min     25%
Gender
Female                      113.0  379.380531  211.605484  15.0  199.00
Male                        652.0  392.516871  227.516414   0.0  193.75
Other / Non-Disclosed        15.0  334.600000  234.524991   9.0  169.50

                                               Age             ... Item ID  \
                         50%     75%    max  count       mean  ...     75%
Gender                                                         ...
Female                 392.0  558.00  775.0  113.0  21.345133  ...   129.0
Male                   390.5  592.25  779.0  652.0  22.917178  ...   139.0
Other / Non-Disclosed  291.0  516.50  747.0   15.0  24.200000  ...   141.0

                              Price                                          \
                         max  count      mean       std   min     25%   50%
Gender
Female                 183.0  113.0  3.203009  1.158194  1.00  2.2800  3.45
Male                   183.0  652.0  3.017853  1.175625  1.00  1.9625  3.09
Other / Non-Disclosed  163.0   15.0  3.346000  0.883813  1.33  3.1000  3.45


                         75%   max
Gender
Female                 4.230  4.90
Male                   4.080  4.99
Other / Non-Disclosed  3.875  4.75

[3 rows x 32 columns]

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [126]:
# Create bins in which to place values based on age
bins = [0, 10, 15, 20, 25, 30, 35, 40]

# Create labels for these bins
group_labels = ["10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Slice data
pd.cut(df["Age"], bins, labels=group_labels).head()

# Place the data series into a new column
df["Age Group"] = pd.cut(df["Age"], bins, labels=group_labels)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,25-29
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,25-29
4,4,Iskosia90,23,Male,131,Fury,1.44,25-29

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [127]:
# Create a GroupBy object based upon "View Group"
age_group = df.groupby("Age Group")

# Find how many rows fall into each bin
print(age_group["Age"].count())

# Get the average of each column within the GroupBy object
age_group[["Price"]].sum(),age_group[["Purchase ID"]].count(),age_group[["Price"]].mean()

Age Group
10-14     32
15-19     54
20-24    200
25-29    325
30-34     77
35-39     52
40+       33
Name: Age, dtype: int64

(            Price
 Age Group
 10-14      108.96
 15-19      156.60
 20-24      621.56
 25-29      981.64
 30-34      221.42
 35-39      155.71
 40+        112.35,            Purchase ID
 Age Group
 10-14               32
 15-19               54
 20-24              200
 25-29              325
 30-34               77
 35-39               52
 40+                 33,               Price
 Age Group
 10-14      3.405000
 15-19      2.900000
 20-24      3.107800
 25-29      3.020431
 30-34      2.875584
 35-39      2.994423
 40+        3.404545)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [128]:
df.sort_values(by=["Price"], ascending=False)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
554,554,Dyally87,22,Male,63,Stormfury Mace,4.99,25-29
189,189,Hiasri33,23,Male,63,Stormfury Mace,4.99,25-29
110,110,Ririp86,25,Male,139,"Mercy, Katana of Dismay",4.94,25-29
246,246,Lirtilsa71,24,Male,139,"Mercy, Katana of Dismay",4.94,25-29
493,493,Chanirrasta87,14,Male,139,"Mercy, Katana of Dismay",4.94,15-19
...,...,...,...,...,...,...,...,...
586,586,Chanirra79,23,Female,155,War-Forged Gold Deflector,1.01,25-29
282,282,Aidai61,21,Male,155,War-Forged Gold Deflector,1.01,25-29
371,371,Eusurdeu49,23,Male,155,War-Forged Gold Deflector,1.01,25-29
63,63,Alo38,20,Male,125,Whistling Mithril Warblade,1.00,20-24
418,418,Marim28,25,Female,125,Whistling Mithril Warblade,1.00,25-29

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80